<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShinyCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ShinyCounter.Properties.Settings>
            <setting name="KeyBind" serializeAs="String">
                <value>164</value>
            </setting>
            <setting name="Counter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CatchCombo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Charm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComboTimer" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Pokemon" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerInt" serializeAs="String">
                <value>0</value>
            </setting>
        </ShinyCounter.Properties.Settings>
    </userSettings>
</configuration>